<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
        name="ingestion"
        label="COM_JHARVEST_CONFIG_ADVANCED_LABEL"
        description="COM_JHARVEST_CONFIG_ADVANCED_DESC">
        <field
            name="limit"
            type="list"
            default="500"
            filter="integer"
            label="COM_JHARVEST_CONFIG_ADVANCED_LIMIT_LABEL"
            description="COM_JHARVEST_CONFIG_ADVANCED_LIMIT_DESC">
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1,000</option>
            <option value="10000">10,000</option>
            <option value="100000">100,000</option>
        </field>
    </fieldset>

    <fieldset name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC">
        <field name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            validate="rules"
            filter="rules"
            component="com_jharvest"
            section="component"/>
    </fieldset>
</config>
